$screen-xsmall: 376px;
$screen-small: 539px;
$screen-medium: 768px;
$screen-large: 1024px;



/* --- */
$media-query-list: (
  'screen-xsmall': (
    max-width: $screen-xsmall,
  ),
  'screen-small': (
    max-width: $screen-small,
  ),
  'screen-medium': (
    max-width: $screen-medium,
  ),
  'screen-large': (
    max-width: $screen-large,
  ),
) !default;

@mixin media-query($media-query) {
  $selected-media: map-get($media-query-list, $media-query);

  @if $selected-media {
    @media #{inspect($selected-media)} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$media-query}`. Please make sure it is defined in `$mediaQuery` map.';
  }
}