$header-height: $size-64;
$page-height: calc(100% - $header-height);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: $font-weight-regular;
  font-size: $font-size-16;
  font-family: $font-family-1;
  user-select: none;
}

body {
  background-color: $primary-background-color;
  color: $primary-color;
  transition: all ease $animation-speed-xslow;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.page {
  padding: $spacing-32;
  position: absolute;
  inset: $header-height 0 0 0;
  width: 100%;
  overflow-y: auto;
}

hr {
  border-top: $size-1 solid $secondary-color;
}

@include media-query('screen-medium') {
  .page {
    height: fit-content;
  }
}

@include media-query('screen-small') {
  .page {
    padding-inline: $spacing-24;
  }
}