body {
  a {
    text-decoration: none;
    cursor: pointer;
    color: $secondary-color-hover;

    &.external-link {
      font-size: $font-size-14;
    }

    &:disabled {
      cursor: not-allowed;
      color: $tertiary-text-color;
    }
  }
}
