body {
  span.muted-text,
  span.info-text {
    font-size: $font-size-14;
  }

  p.primary-text {
    color: $primary-text-color;
  }

  p.secondary-text {
    color: $secondary-text-color;
  }

  p.tertiary-text,
  span.muted-text {
    color: $tertiary-text-color;
  }

  span.info-text {
    color: $secondary-text-color;
  }

  .error-text {
    color: $error-color;

    &:hover {
      color: $error-color-hover;
    }
  }

  .success-text {
    color: $success-color;

    &:hover {
      color: $success-color-hover;
    }
  }
}
