:root {
  --white-100: #ffffff;
  --white-200: #f2f2f2;
  --white-300: #e5e5e5;

  --black-100: #302f31;
  --black-300: #242225;
  --black-400: #2c2a2c;
  --black-500: #1b1b1b;

  --purple-200: #9e5def;
  --purple-400: #9a61ef;
  --purple-500: #7c33eb;

  --gray-200: #c6c6c6;
  --gray-300: #a2a2a2;
  --gray-400: #8e8e8e;
  --gray-500: #737f84;

  --green-100: #659680;
  --green-200: #42a084;

  --red-100: #fa3b2e;
  --red-200: #b62711;

  --primary-background-color: var(--white-200);
  --secondary-background-color: var(--white-100);

  --primary-color: var(--black-400);
  --secondary-color: var(--purple-400);
  --tertiary-color: var(--gray-200);

  --primary-text-color: var(--black-300);
  --secondary-text-color: var(--purple-200);
  --tertiary-text-color: var(--gray-500);

  --primary-color-hover: var(--black-500);
  --secondary-color-hover: var(--purple-500);
  --tertiary-color-hover: var(--gray-500);

  --success-color: var(--green-100);
  --success-color-hover: var(--green-200);

  --error-color: var(--red-100);
  --error-color-hover: var(--red-200);
}

:root.dark {
  --primary-background-color: var(--black-400);
  --secondary-background-color: var(--purple-400);
  
  --primary-color: var(--white-200);
  --secondary-color: var(--purple-500);
  --tertiary-color: var(--gray-200);
  
  --primary-text-color: var(--white-200);
  --secondary-text-color: var(--purple-400);
  --tertiary-text-color: var(--gray-300);
  
  --primary-color-hover: var(--white-300);
  --secondary-color-hover: var(--purple-200);
  --tertiary-color-hover: var(--gray-400);
}

$white-100: var(--white-100);
$white-200: var(--white-200);
$white-300: var(--white-300);

$black-100: var(--black-100);
$black-300: var(--black-300);
$black-400: var(--black-400);
$black-500: var(--black-500);

$purple-200: var(--purple-200);
$purple-400: var(--purple-400);
$purple-500: var(--purple-500);

$gray-200: var(--gray-200);
$gray-300: var(--gray-300);
$gray-400: var(--gray-400);
$gray-500: var(--gray-500);

$green-100: var(--green-100);
$green-200: var(--green-200);

$red-100: var(--red-100);
$red-200: var(--red-200);

$primary-background-color: var(--primary-background-color);
$secondary-background-color: var(--secondary-background-color);

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);

$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);
$tertiary-text-color: var(--tertiary-text-color);

$primary-color-hover: var(--primary-color-hover);
$secondary-color-hover: var(--secondary-color-hover);
$tertiary-color-hover: var(--tertiary-color-hover);

$success-color: var(--success-color);
$success-color-hover: var(--success-color-hover);

$error-color: var(--error-color);
$error-color-hover: var(--error-color-hover);
