@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Righteous', cursive;

$font-size-8: var(--size-8);
$font-size-12: var(--size-12);
$font-size-14: var(--size-14);
$font-size-16: var(--size-16);
$font-size-20: var(--size-20);
$font-size-24: var(--size-24);
$font-size-32: var(--size-32);
$font-size-36: var(--size-36);
$font-size-40: var(--size-40);
$font-size-48: var(--size-48);

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;