$spacing-0: var(--size-0);
$spacing-2: var(--size-2);
$spacing-4: var(--size-4);
$spacing-8: var(--size-8);
$spacing-12: var(--size-12);
$spacing-16: var(--size-16);
$spacing-20: var(--size-20);
$spacing-24: var(--size-24);
$spacing-32: var(--size-32);
$spacing-40: var(--size-40);
